body{
  background-color: #f8f1f8 !important;
}
/* Estilos del Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    transition: all 0.3s ease; /* Añade una transición suave para los cambios */
    z-index: 1000;
}


header.animated {
    padding: 20px 40px;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(5px);
}

/* Animación del Corazón */
@keyframes beat {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1); }
    75% { transform: scale(1.2); }
    100% { transform: scale(1); }
}



/* Estilos de las Navegaciones */
.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.title{
    color: #fff;
    transition: all 0.3s ease;

    position: absolute;
    width: 200px;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.heart-animation{
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;

    width: 80px;
    height: 80px;
    left: 0px;
    transform: translate(15px,-50%);
}

header.animated .heart-animation{
    opacity: 1;
}
header.animated .title{
    transform: translate(70px, -50%);
}

.nav-links a:hover {
    color: #e60073; /* Rosa intenso al pasar el mouse */
}


/* Estilos Responsivos (Opcional) */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-links {
        margin-top: 10px;
    }

    .nav-links a {
        margin-left: 0;
        margin-right: 15px;
    }
}



.swiper {
    width: 100%;
    height: 100dvh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }
  
  .lugar-fecha{
    padding: 50px 0;
  }
  
  .lugar-fecha h2{
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .lugar-fecha p{
    font-size: 16px;
    line-height: 1.5;
  }
  
  .lugar-fecha p:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {
    .lugar-fecha .row{
      flex-direction: column;
      align-items: center;
    }
    .lugar-fecha .col-md-6{
      width: 100%;
    }
  }

  .flex-col{
    flex-direction: column;
  }

  .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-shadow: 0 0 1px black;
    font-size: 20px;
  }

  .married-invitation{
    background: url("images/aaa.png") no-repeat center center;
    min-height: 400px;
    background-size: contain;
    background-position: right;
    padding-block: 240px !important;
    position: relative;
  }

  @media (max-width: 768px) { 
    .countdown{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }


  .swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    color: #333;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

/* Posicionamiento de las Flechas */
.swiper-button-next {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Estilos para la Paginación */
.swiper-pagination {
    bottom: 10px !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 50%;
    margin: 0 5px !important;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.swiper-pagination-bullet-active {
    background-color: #333;
    transform: scale(1.2);
}

/* Opcional: Cambiar el Cursor al Pasar por las Páginas */
.swiper-pagination-bullet:hover {
    background-color: #555;
    cursor: pointer;
}