<div class="font-2  mx-auto flex justify-center items-center py-32 flex-wrap relative">
  <div class="bg-white container shadow-lg rounded-xl border border-gray-300 p-12 flex flex-wrap relative z-10 max-w-4xl">
    <!-- Left Section -->
    <div class="w-full lg:w-1/2 p-6">
      <div class="text-center">
        <p class="text-lg font-semibold text-gray-600">Juntos escribiremos el más hermoso capítulo de nuestro amor, el cual le dará un nuevo significado a nuestra vida.</p>
        <h1 class="text-4xl font-extrabold mt-6 text-gray-800">Nuestro Matrimonio</h1>
        <h2 class="text-6xl font-extrabold text-gray-700 mt-4 font-1">Luis & Karen</h2>
        <p class="mt-6 text-lg text-gray-600">Con la bendición de Dios y nuestros padres:</p>
        <p class="mt-4 text-gray-700">
          <span class="font-semibold">Luis Diomedes Gil Castañeda</span> <br>
          <span class="font-semibold">Marleni Rodas Lingán</span> <br>
          <span class="font-semibold">Fausto Santisteban Vidaurre</span> <br>
          <span class="font-semibold">Juana Uchofen Samillán</span>
        </p>
      </div>
      <p class="mt-10 text-center text-lg text-gray-600">Queremos compartir nuestra felicidad en este día tan especial, nuestro Matrimonio Religioso.</p>
    </div>
    <!-- Right Section -->
    <div class="w-full lg:w-1/2 p-6">
      <div class="text-center">
        <p class="font-semibold text-gray-600">Que se realizará el día:</p>
        <div class="flex justify-center items-center mt-4 space-x-4">
          <div class="text-lg font-bold text-gray-600">Sábado</div>
          <div class="text-6xl font-extrabold text-gray-800">15</div>
          <div class="text-lg font-bold text-gray-600">Febrero</div>
        </div>
        <p class="mt-4 text-lg text-gray-600">2025</p>
      </div>
      <div class="text-center mt-6">
        <p class="font-semibold text-gray-600">Lugar:</p>
        <p class="text-gray-700">Iglesia Santa María Catedral - Chiclayo</p>
        <p class="text-gray-600">Hora: <span class="font-semibold">8:00 p.m.</span></p>
      </div>
      <div class="mt-8 text-center">
        <p class="font-semibold text-gray-600">Padrinos:</p>
        <p class="text-gray-700">Marcelino Llatas Cubas</p>
        <p class="text-gray-700">Gladys Santisteban Uchofen</p>
      </div>
      <div class="mt-8 text-center">
        <p class="text-gray-600">Después de la ceremonia, sírvase pasar al:</p>
        <a class="font-semibold text-blue-600 hover:underline" href="https://maps.app.goo.gl/tju4J4uVcT4PLhg49" target="_blank">Fundo San Pedro - Carretera Lambayeque (click aquí)</a>
      </div>
      <div class="mt-8 text-center">
        <p class="text-gray-600">
          <span class="font-semibold">Niños:</span> dulces sueños.
        </p>
        <p class="text-gray-600">
          <span class="font-semibold">Adultos:</span> busquen sus zapatos de baile.
        </p>
      </div>
    </div>
  </div>
  <!-- Decorative Background -->
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full z-0 opacity-10">
    <img src="/images/section-3bg.jpg" alt="background" class="w-full h-full">
  </div>
</div>
