<div class="swiper mySwiper ">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/portrait1.jpg" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/portrait2.jpg" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/portrait3.jpg" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/portrait4.jpg" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/portrait5.jpg" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/portrait6.jpg" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/portrait7.jpg" alt="Boda 1" class="object-cover">
    </div>

  </div>
</div>
