<div class="swiper mySwiper ">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/boda1.webp" alt="Boda 1" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/boda2.jpg" alt="Boda 2" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/boda3.jpg" alt="Boda 3" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/boda4.webp" alt="Boda 4" class="object-cover">
    </div>
    <div class="swiper-slide">
      <img src="images/boda5.webp" alt="Boda 5" class="object-cover">
    </div>
  </div>
</div>
