<div class="d-flex container mx-auto flex-wrap relative justify-center">
  <h2 class="font-1 text-5xl w-full text-center">Nuestro Matrimonio</h2>

  <div class="flex items-center justify-center">
    <span class="p-2">Sábado</span>
    <span class="font-2 text-3xl p-2">15</span>
    <span class="p-2">Febrero</span>
  </div>
  <div class="flex justify-center">
    <app-countdown></app-countdown>
  </div>

  <div class="flex w-full justify-center">
    <div class="flex flex-col gap-2 my-12 max-w-[768px] justify-center items-center invitation">
      <h2 class="font-1 text-6xl text-center py-20">Luis y Karen</h2>
      <h2 class="font-1 text-4xl text-center">
        Iglesia
      </h2>
      <br>
      <p class="font-2">
        Santa María Catedral - Chiclayo
      </p>
      <p class="mb-6 font-2">8:00 pm</p>
      <h2 class="font-1 text-4xl text-center">
        Recepción
      </h2>
      <br>
      <p class="font-2">
        Fundo San Pedro - Carretera Lambayeque
      </p>
      <p class="mb-4 font-2">10:00 pm</p>

      <a href="https://maps.app.goo.gl/tju4J4uVcT4PLhg49" target="_blank"
         class="transition-all duration-300 px-7 py-3 text-black underline hover:bg-[#ff0055] font-2">Ver Ubicación</a>

      <div class="flex flex-col gap-6 mt-12 max-w-[768px] justify-center items-center">
        <h2 class="font-1 text-2xl text-center">
          Vestimenta:
        </h2>
        <p class="mb-12 font-1 text-3xl">
          <span class="font-semibold">Elegante</span>
        </p>
      </div>
      <div class="invitation-shape-1">
        <img src="images/invitation-shape-1.png" alt="">
      </div>
      <div  class="invitation-shape-2">
        <img src="images/invitation-shape-2.png" alt="">
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-12">
    <app-album-fotos></app-album-fotos>
  </div>
</div>