<div class="flex h-screen justify-center items-center flex-wrap relative px-2">
  <div class="w-full lg:w-8/12 flex flex-col justify-center items-center z-10 py-40 relative z-10">
    <h2 class="font-1 text-6xl pb-8">Nuestra Boda</h2>
    <span class="font-2 pb-4">Nosotros estamos felices de compartir este día con ustedes</span>
    <div class="font-2 text-3xl flex flex-col justify-center items-center gap-4 mt-4">
      <b>Sábado 15 . 02 . 2025</b>
      <b>8:00 PM</b>
    </div>
    <app-countdown></app-countdown>
  </div>
  <div class="w-full lg:w-4/12">
    <div class="hidden lg:flex">
      <div class="swiper mySwiper ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/boda1.webp" class="object-cover" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/boda2.jpg" class="object-cover" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/boda3.jpg" class="object-cover" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/boda4.webp" class="object-cover" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/images/boda5.webp" class="object-cover" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full h-full">
    <div id="heart-animation" #heartAnimation class="heart-animation" style="height: 100%"></div>
  </div>
</div>