/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(#f87ca1, 0.05);
  overflow-x: hidden;
}

.font-1 {
  font-family: "Ephesis", serif;
  font-weight: 400;
  font-style: normal;
}

.font-2 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.circle {
  width: 105px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3px;

  h3 {
    font-size: 2rem;
    color: #000;
  }

  p {
    color: #000;
  }

}

.invitation {
  background: #fff;
  padding: 20px;
  position: relative;
  width: 100%;
  max-width: 500px;
  &::after{
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(#cb8aff, 0.5);
  }

  .invitation-shape-1,
  .invitation-shape-2{
    position: absolute;
    max-width: 240px;
    z-index: 10;
  }
  .invitation-shape-1{
    bottom: -30px;
    left: 0;
  }
  .invitation-shape-2{
    top: -50px;
    right: 0;
  }
}