/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(#f87ca1, 0.05);
}

.font-1 {
  font-family: "Ephesis", serif;
  font-weight: 400;
  font-style: normal;
}

.font-2 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.circle {
  width: 105px;
  height: 75px;
  border-radius: 10px;
  background-color: #a37b5a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h3 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
  }

  p {
    color: #fff;

  }

}